<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="container">


    <form  method="post" th:object="${city}">
        <table class="table table-dark">
            <tbody>
            <tr>
                <th>City Name</th>
                <th>Nation</th>
                <th>Acreage</th>
                <th>GDP</th>
                <th>Population</th>
                <th>Description</th>
                <th>img</th>
            </tr>
            <p>City Information</p>
            <tr>
                <td><input th:field="*{city_name}" placeholder=" City Name "></td>
                <td><select th:field="*{nation}">
                    <option th:each="b : ${nation}" th:text="${b.name}" th:value="${b.id}"></option>
                </select></td>
                <td><input th:field="*{acreage}" placeholder="Acreage"></td>
                <td><input th:field="*{GDP}" placeholder="GDP"></td>
                <td><input th:field="*{population}" placeholder="Population"></td>
                <td><textarea th:field="*{description}" placeholder="Description"></textarea></td>
            </tr>
            <tr>
                <td>  <p style="color: red">
                    Alert!
                </p><button type="submit" class="btn btn-danger" onclick="confirm('Delete confirm')">delete</button>
                    <a href="/users" class="btn btn-warning" >Homepage</a>
                </td>
            </tr>


            </tbody>
        </table>
    </form>

</div>

</body>
</html>
</body>
</html>